<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        html {
          box-sizing: border-box;
        }

        *, *:before, *:after {
          box-sizing: inherit;
        }

        #container{
            display:block;
        }

        img{
            width:{{image.width}}px;
            height:{{image.height}}px;
        }
    </style>
</head>
<body>
    <a id="container" target="_top" href="{{{click_url}}}">
            <img src="{{{image.url}}}" alt=""/>
        {{# config.headline}}
            <h3 class="headline">
                {{headline}}
            </h3>
        {{/ config.headline}}
        {{# config.cta}}
            <p class="cta">
                <strong>{{cta}}</strong>
            </p>
        {{/ config.cta}}
        {{# config.description}}
            <p class="description">
                {{description}}
            </p>
        {{/ config.description}}
    </a>
</body>
</html>
