<style scoped>
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: #000000;
      text-decoration: none;
      font-weight: normal;
      display: block;
    }
    .border-box {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .margin_left {
        margin-left: 92px;
    }
    .sdk-con {
        position: relative;
        width: 100%;
        height: 100%;
        font-family: 'open sans', arial, sans-serif, 'Helvetica Neue', Helvetica, sans-serif;
    }
    .sdk-con .sdk-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .sdk-con .sdk-bg-color {
        background: #EEEFEF;
    }
    .sdk-con .sdk-front{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2%;
        z-index: 1;
    }
    .sdk-con img {
        height: 100%;
        width: auto;
        float: left;
    }
    .sdk-con .title-sdk {
        font-size: 18px;
        border: none;
        text-align: left;
        color: #CE4500;
    }
    .sdk-con .desc-sdk {
        font-size: 14px;
    }
    .sdk-con .cta-sdk {
        font-size: 16px;
        color: #7B7C76;
    }
    .sdk-con .ad-sdk {
         position: absolute;
         bottom: 2%;
         right: 2%;
         font-size: 12px;
         color: #7B7C76;
    }
    .sdk-con a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
</style>

<div class="sdk-con">
    <div class="sdk-bg sdk-bg-color"></div>
    <div class="sdk-front border-box">
        <img src={{{data.icon}}} />
        <div class="title-sdk margin_left">{{{data.title}}}</div>
        <div class="desc-sdk margin_left">{{{data.desc}}}</div>
        <div class="cta-sdk margin_left">{{{data.cta}}}</div>

        <div class="ad-sdk">(sponsored ad)</div>
    </div>
    {{#data.trackers}}
    <img style="display:none;" src={{{url}}} />
    {{/data.trackers}}
    <a target="_top" href="{{{data.click_url}}}"></a>
</div>
