<style scoped>
    
        .mobfoxNative *, .mobfoxNative *:before, .mobfoxNative *:after {
          box-sizing: inherit;
        }

        .mobfoxNative{
            display:block;   
            padding:1em 0;
            text-decoration:none;
            color:inherit;
        }

        .mobfoxNative>img{
            border-width: 1px;
            border-style: solid;
            width:20%;
            float:left;
        }

        .mobfoxNative .copy{
            margin-left:3%;
            width:72%;
            float:left;
        }

        .mobfoxNative p.cta{
            font-weight:bold;
        }
</style>
<a class="mobfoxNative" target="_top" href="{{{click_url}}}">
    <img src="{{{icon.url}}}" alt=""/>
    <div class="copy">
        {{# config.headline}}
            <h2 class="headline">
                {{headline}}
            </h2>
        {{/ config.headline}}
        {{# config.cta}}
            <p class="cta">
                <strong>{{cta}}</strong>
            </p>
        {{/ config.cta}}
        {{# config.description}}
            <p class="description">
                {{description}}
            </p>
        {{/ config.description}}
    </div>
    <div style="clear:both"></div>
</a>
